# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# pyenv
bp_venv/

# excel source data
*.xlsx
*.scv
*.xlsx:Zone.Identifier

# python configuration
.pylintrc

# Build artifacts
build/
dist/

# setup file
*.exe